/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
html {
	font-size: 62.5%;
    box-sizing: border-box;
    font-family: 'Outfit', sans-serif;
}
.attribution { 
	font-size: 11px; 
	text-align: center; 
	width: 100%; 
	bottom:0px;
	display: block;
	bottom: 0px;
	left: 0px;
	right: 0px;
}
.attribution a { color: hsl(228, 45%, 44%); }

body {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	font-size: 1.5rem;
	background-color: white;
	background-size: 100%;
	background-color: hsl(212, 45%, 89%);
}
.full-card {
	display: flex;
	flex-direction: column;
	justify-content: center;
	width: 27ch;
	margin: 3rem 0rem 5rem;
	padding: 1.3rem;
	background-color: hsl(0, 0%, 100%);
	border-radius: 1.7rem;
	gap: 1.5ch;
	text-align: center;
	line-height: 2.5rem;
	box-shadow: 0.5px 0.5px 10px 1px hsl(220, 15%, 85%);
	margin-bottom: 3rem;
}
.qr-image {
	border-radius: 1rem;
}
.bold-text {
	font-weight: 700;
	font-size: 2rem;
	color: hsl(218, 44%, 22%);
	margin: 0.5rem 0.5rem;
}
.ligther-text {
	font-weight: 400;
	line-height: 1.7rem;
	font-size: 1.4rem;
	color: hsl(220, 15%, 55%);
	margin: 0rem 1rem 1.5rem;
}
.bold-text .ligther-text {
	width: 15ch;
}
